# Data Aggregation

The data was collected from the NYC Taxi and Limousine Commission, and includes taxi trip information for yellow taxi cabs operating in the NYC area.

1. 12 files were read and aggregated, one for each month in 2017
2. Original data included ~9.5 million records per month. For each month, data was filtered to include only regular cab rides (not group rides or airport rides, etc), then sorted by `pickup time`, and finally sampled to include every 400th record.
3. A subset of the columns were chosen; non-relevant columns were dropped.
4. After sampling, the dataset for each month was aggregated into a single file for the year of 2017: ~260K records.
5. The aggregated data was saved as `tripdata_2017.csv` and will be used in the next steps of the [Data Wrangling](./Data%20Wrangling.ipynb) process.

**Note:** The original data files (containing all data) have been compressed into a file `tripdata_2017_compressed.zip` and will need to be unzipped if you wish to repeat the data aggregation process. This has been done to save memory.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob

In [3]:
# Columns we are interested in
col_labels = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance',
       'RatecodeID', 'PULocationID', 'DOLocationID', 'fare_amount']
filenames = glob('data/*.csv') # 12 files (one per month)
dfs = [] # Store df for each month

In [4]:
for f in filenames:
    # Read monthly data and index by pickup datetime
    month = pd.read_csv(f, usecols=col_labels, parse_dates=[0, 1], index_col=0)
    
    # Sort index and get representative sample (every 500th element)
    month_sample = month[month.RatecodeID == 1].sort_index()[::400]
    
    # Append data to dfs
    dfs.append(month_sample)

In [5]:
data = pd.concat(dfs).sort_index()

Displaying the first few rows after aggregation, we can see the first 5 rows need to be cleaned. This will be resolved in the [Data Wrangling](./Data%20Wrangling.ipynb) Jupyter Notebook.

In [6]:
data.head(10)

,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount
tpep_pickup_datetime,,,,,,,
2001-01-01 23:39:13,2001-01-02 00:01:22,1,0.56,1,230,163,11.0
2001-01-06 06:10:12,2001-01-06 21:00:35,1,0.00,1,7,7,2.5
2003-01-14 00:17:13,2003-01-14 00:17:51,1,0.00,1,264,264,1.5
2008-12-31 17:48:27,2008-12-31 17:57:27,1,0.90,1,162,264,7.5
2008-12-31 23:34:04,2008-12-31 23:39:41,1,0.93,1,237,140,5.5
2017-01-01 00:00:02,2017-01-01 00:03:50,1,0.50,1,48,48,4.0
2017-01-01 00:03:37,2017-01-01 00:12:37,1,1.39,1,79,249,8.0
2017-01-01 00:06:01,2017-01-01 00:13:45,1,1.54,1,209,13,7.5
2017-01-01 00:07:54,2017-01-01 00:17:34,1,1.86,1,141,233,8.5
2017-01-01 00:09:27,2017-01-01 00:14:41,1,0.90,1,186,68,5.5

We no longer need the `RatecodeID column`, so let's delete it and save the file as `tripdata_2017.csv`

In [7]:
del data['RatecodeID']
data.to_csv('data/tripdata_2017.csv')